---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
  <section class="h-auto w-full px-4 py-16 md:px-16 md:py-28">
    <h2 class="text-6xl font-semibold">Blog</h2>
    <p class="mt-4 text-gray-900/50 dark:text-gray-50/50">Stuff I write sometimes about the things I do.</p>
  </section>
</Layout>
