@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #00a0e9;
  --background: #fafafa;
  --foreground: #050505;
  --card: #fff;
  --card-foreground: #101010;
  --card-muted: #f0f0f0;
  --card-muted-foreground: #202020;
  --muted: #6b7280;
}

.dark {
  --primary: #00a0e9;
  --background: #050505;
  --foreground: #f9f9f9;
  --card: #111111;
  --card-foreground: #eee;
  --card-muted: #2e2e2e;
  --card-muted-foreground: #ddd;
  --muted: #9ca3af;
}

@theme inline {
  --aspect-pi: 22 / 7;

  --font-hero: var(--font-plein);
  --font-heading: var(--font-satoshi);
  --font-sans: var(--font-switzer);
  --font-array: var(--font-array);
  --font-hand: var(--font-architects-daughter);
  --font-mono: var(--font-monaspace-argon);

  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-muted: var(--card-muted);
  --color-card-muted-foreground: var(--card-muted-foreground);
  --color-muted: var(--muted);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  .cursor-newtab {
    cursor:
      url("/images/new-tab.png") 10 10,
      pointer;
  }

  a[target="_blank"] {
    cursor:
      url("/images/new-tab.png") 10 10,
      pointer;
  }

  span[data-tippy-content] {
    cursor: help;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    /* make this once baseline */
    /* text-decoration-color: attr(data-tippy-color type(<color>), inherit); */
    text-decoration-thickness: 0.5px;
    font-weight: 500;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply scroll-smooth font-sans;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      @apply scroll-auto;
    }
  }
}
