---
import TransparentBorder from "@components/reusable/TransparentBorder.astro"

interface Props {
  class: string
  [key: string]: any
}

const { class: className, ...rest } = Astro.props
---

<TransparentBorder class={className} enableHoverScale={true} {rest}>
  <div
    class="flex h-full flex-col-reverse items-start justify-start gap-4 rounded-lg border-2 border-slate-300/50 bg-white p-8 shadow transition-transform hover:scale-[98%] md:flex-row md:gap-8 md:p-4 dark:border-zinc-800/50 dark:bg-gray-950"
  >
    <div class="h-full w-full">
      <slot name="title" />
      <slot name="text" />
    </div>
    <div class="self-center">
      <slot name="image" />
    </div>
  </div>
</TransparentBorder>
