---

---

<div class="w-full">
  <!-- Testimonial Card that scrolls text -->
  <div
    class="mx-auto my-8 flex h-96 max-w-80 flex-col justify-between gap-8 rounded-md border-1 border-stone-200/50 p-6 shadow-sm dark:border-neutral-800/50 dark:bg-gray-900"
  >
    <p class="prose dark:prose-invert leading-6">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum nihil architecto, fugiat reiciendis blanditiis
      iure nobis facilis sapiente a, voluptates dolores! Veritatis adipisci nihil excepturi!
    </p>
    <div class="flex flex-row items-center justify-start gap-4">
      <div class="h-4 w-4 bg-red-500"></div>
      <div class="">
        <h4 class="text-md font-bold">Link Link</h4>
        <p class="text-sm text-gray-800/75 dark:text-gray-100/75">Hero of Hyrule</p>
      </div>
    </div>
  </div>
</div>
