---
import TestimonialCard from "../TestimonialCard.astro"
---

<div class="w-full">
  <!-- Testimonial Card that scrolls text -->
  <TestimonialCard bg="bg-stone-50 dark:bg-gray-950" class="mx-auto h-96 max-w-80">
    <p class="prose dark:prose-invert leading-6" slot="text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum nihil architecto, fugiat reiciendis blanditiis
      iure nobis facilis sapiente a, voluptates dolores! Veritatis adipisci nihil excepturi!
    </p>
    <h4 class="text-md font-bold" slot="name">Link Link</h4>
    <p class="text-sm text-gray-800/75 dark:text-gray-100/75" slot="at">Hero of Hyrule</p>
  </TestimonialCard>
</div>
