---
import { getCollection } from "astro:content"

import BlogCard from "@/components/cards/BlogCard.astro"

const featuredBlogs = (
  await getCollection(
    "blogs",
    ({ data }) => data.isPublished === true && data.pubDate !== undefined,
  )
)
  .sort((a, b) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf())
  .slice(0, 3)
---

<div
  class="m-auto flex max-w-6xl flex-col flex-wrap justify-center px-4 py-2 md:flex-row md:px-4 md:py-4"
>
  {
    featuredBlogs.map(blog => (
      <BlogCard class="mx-auto mb-8 w-full max-w-4xl" blog={blog}>
        <h3 class="mt-2 text-3xl font-semibold" slot="title">
          {blog.data.title}
        </h3>

        <p class="prose dark:prose-invert mt-0 line-clamp-4 md:line-clamp-2" slot="text">
          {blog.data.description}
          &nbsp;
          <a class="text-sm" href={`/blog/${blog.id}`}>
            Keep Reading &ShortRightArrow;
          </a>
        </p>
      </BlogCard>
    ))
  }
</div>
<div class="text-center">
  <a
    href="/blog"
    class="prose dark:prose-invert underline underline-offset-2 transition-colors duration-300 hover:text-neutral-700 dark:hover:text-neutral-100"
  >
    See more blogs &gtdot;
  </a>
</div>
