---
import { getCollection } from "astro:content"
import ProjectListCard from "@/components/cards/ProjectListCard.astro"

const featuredProjects = (
  await getCollection("projects", ({ data }) => data.featured && data.visible)
)
  .sort((a, b) => (b.data.year ?? 0) - (a.data.year ?? 0))
  .slice(0, 3)
---

<div class="divide-border/30 divide-y">
  {featuredProjects.map(proj => <ProjectListCard proj={proj.data} transparent />)}
</div>

<div class="mt-6 text-center">
  <a
    href="/projects"
    class="text-muted hover:text-primary text-sm font-semibold underline underline-offset-4 transition-colors duration-300"
  >
    View all projects &gtdot;
  </a>
</div>
