---
import { getCollection } from "astro:content"

import ProjectCard from "@/components/cards/ProjectCard.astro"

const featuredProjects = await getCollection("projects", ({ data }) => data.featured)
---

<!-- a bento grid, please 🥹 -->
<div class="flex flex-col flex-wrap items-center justify-center px-4 py-2 md:flex-row md:px-4 md:py-4">
  {
    featuredProjects.map((proj) => (
      <ProjectCard class="m-auto my-4 w-full md:mx-8 md:w-96" proj={proj.data}>
        <h3 class="text-2xl font-semibold" slot="title">
          {proj.data.name}
        </h3>
        <div class="mt-2" slot="text">
          <p class="prose dark:prose-invert leading-6">{proj.data.text}</p>

          <div class="my-4 flex flex-wrap gap-2">
            {proj.data.tags.map((tag) => (
              <span class="rounded-md border border-dashed border-green-500 bg-emerald-300/15 px-1 font-mono text-xs font-medium text-green-600 sm:px-3 sm:text-sm dark:bg-emerald-800/25 dark:text-emerald-100">
                {tag}
              </span>
            ))}
          </div>
        </div>
      </ProjectCard>
    ))
  }
</div>
<div class="mt-8 text-center">
  <a
    href="/projects"
    class="prose dark:prose-invert underline underline-offset-2 transition-colors duration-300 hover:text-gray-700 dark:hover:text-gray-100"
  >
    See more projects &gtdot;
  </a>
</div>
