---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section class="h-auto w-full px-4 py-16 md:px-16 md:py-28">
    <h2 class="text-center text-4xl font-semibold">About Me</h2>
    <div class="prose dark:prose-invert prose-lg mx-auto mt-16 md:mt-32">
      <div class="not-prose">
        <h1 class="text-3xl font-bold text-neutral-950 dark:text-white">Harsh Narayan Jha</h1>
        <p class="">Student at Birla Institute of Technology</p>
      </div>

      <p>
        Hi There! I am Harsh, and I like to build things. I am currently a student at Birla Institute of Technology,
        Deoghar, pursuing my BTech in Computer Science Engineering. I spend my time tinkering with things and
        experimenting with.
      </p>
      <p>
        You can rely on me as an full-stack engineer, a game dev, or an app dev. I have a knack for problem-solving and
        a passion for learning new technologies. I have expertise in various programming languages and frameworks,
        including Python, JS/TS, React/NextJS, Svelte, Flutter, Unity/Godot, Kotlin, C++, Rust and more.
      </p>

      <p>
        I use Arch Linux and Hyprland as my daily driver, and carry an Android Phone. I don't hate windows, but it is
        now horrible to use. I love making an contributing to open source projects.
      </p>

      <p>Here are some of the things I enjoy</p>
      <!-- Icons here -->
    </div>
  </section>

  <section id="about-experiences" class="h-auto w-full px-4 py-32 md:px-16">
    <h3 class="text-center text-2xl font-semibold">Experiences</h3>

    <div class="prose dark:prose-invert mx-auto mt-16 flex max-w-none flex-col gap-8 md:px-40">
      <div class="grid grid-cols-1 gap-0 md:grid-cols-[1fr_3fr] md:gap-16">
        <p>March 2025 - July 2025</p>
        <div>
          <h4>SDE Intern</h4>
          <p>CoRider - Banglore, Remote</p>
          <p>Hired as an backend software engineer at CoRider and worked for 4 months. Helped the company a lot.</p>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-0 md:grid-cols-[1fr_3fr] md:gap-16">
        <p>2023-2027</p>
        <div>
          <h4>Student</h4>
          <p>Birla Institute of Technology - Deoghar, Jharkhand, India</p>
          <p>
            Pursuing a Bachelor's degree in Computer Science and Engineering at BIT. 4 years of college. Performing well
            with &gt;8.0 CGPA
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-0 md:grid-cols-[1fr_3fr] md:gap-16">
        <p>2016-2023</p>
        <div>
          <h4>Student</h4>
          <p>Kendriya Vidyalaya No. 1 - AFS, Darbhanga, Bihar, India</p>
          <p>
            Another 6 years in this school. This school is part of the Kendriya Vidyalaya Sangathan, which is a network
            of schools across India under the National Government. There are more than 1200 schools in the network, and
            about 3 outside India. Passed with &gt;90% score
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-0 md:grid-cols-[1fr_3fr] md:gap-16">
        <p>2000-3000</p>
        <div>
          <h4>Student</h4>
          <p>Rose Public School - Darbhanga, Bihar, India</p>
          <p>Studied at this school for about 6 years</p>
        </div>
      </div>
    </div>
  </section>
</Layout>
