---
import { Image } from "astro:assets"
import Card from "../components/Card.astro"
import Education from "../components/sections/Education.astro"
import Hero from "../components/sections/Hero.astro"
import FeaturedProjects from "../components/sections/FeaturedProjects.astro"
import Work from "../components/sections/Work.astro"
import Layout from "../layouts/Layout.astro"

import me from "../img/me.png"
import FeaturedTestimonials from "../components/sections/FeaturedTestimonials.astro"
---

<Layout>
  <section id="hero" class="bg-gray-50 p-4 md:p-8 dark:bg-gray-950">
    <Hero />

    <Card class="mx-auto my-24 w-11/12 md:my-8 md:w-9/12">
      <Image
        src={me}
        class="aspect-square w-40 -rotate-6 rounded-[3.8rem] rounded-br-3xl border-2 border-slate-200/50 transition hover:-rotate-[18deg] md:w-52 dark:border-slate-700/50"
        alt="website owner"
        style="mask-image: radial-gradient(circle at 85% 15%, transparent 5%, black 5%)"
        loading={"eager"}
        slot="image"
      />
      <div class="text-3xl font-bold md:text-4xl" slot="title">Hello There</div>
      <div class="prose prose-lg dark:prose-invert mt-2" slot="text">
        I like building things from the basic principles, and also play with the latest technologies and hack around
        them. I like to work in the App, Web and Game ecosystems.
      </div>
    </Card>
  </section>

  <!-- something must exists here -->

  <section id="featured-posts" class="px-2 py-8 md:p-16">
    <h2 class="mb-2 ps-2 text-4xl font-bold sm:text-5xl md:mb-8 md:ps-16">
      Featured
      <span
        class="bg-teal-500 bg-gradient-to-r from-teal-500 via-cyan-300 via-50% to-sky-500 bg-clip-text text-transparent"
      >
        Posts
      </span>
    </h2>
    <!-- Featured Posts here -->
  </section>

  <div class="wave-divider bg-stone-100 dark:bg-gray-900">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="fill-slate-50 dark:fill-gray-950"></path>
    </svg>
  </div>

  <section id="featured-projects" class="w-full bg-stone-100 px-2 py-8 md:p-16 dark:bg-gray-900">
    <div class="mb-2 ps-2 md:mb-8 md:ps-16">
      <h1 class="text-4xl font-bold sm:text-5xl">
        Exciting
        <span
          class="bg-sky-500 bg-gradient-to-r from-sky-500 via-cyan-300 via-50% to-green-500 bg-clip-text text-transparent"
        >
          Projects
        </span>
      </h1>
      <p class="prose dark:prose-invert mt-2">Small selection of the projects I have worked on.</p>
    </div>
    <FeaturedProjects />
  </section>

  <div class="wave-divider bg-slate-50 dark:bg-gray-950">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="fill-stone-100 dark:fill-gray-900"></path>
    </svg>
  </div>

  <!-- add testimonials -->

  <section id="testimonials" class="bg-slate-50 px-2 py-8 md:p-24 dark:bg-gray-950">
    <div class="mx-auto mb-2 md:mb-8">
      <h1 class="text-center font-[handwriting] text-3xl">Hear about me</h1>
    </div>
    <FeaturedTestimonials />
  </section>

  <!-- Move to about -->
  <!-- <section id="education" class="bg-slate-50 px-2 py-8 md:p-40 dark:bg-gray-950">
    <Education />
  </section> -->

  <div class="wave-divider bg-stone-100 dark:bg-gray-900">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="fill-slate-50 dark:fill-gray-950"></path>
    </svg>
  </div>

  <section id="work" class="bg-stone-100 px-2 py-8 md:p-40 dark:bg-gray-900">
    <div class="mb-2 ps-2 md:mb-8 md:ps-16">
      <h1 class="text-4xl font-bold sm:text-5xl">Experiences</h1>
      <p class="prose dark:prose-invert mt-2 text-[1rem] font-medium">
        Here are some highlights of my professional experience and the impactful work I've done so far.
      </p>
    </div>
    <Work />
  </section>

  <div class="wave-divider bg-slate-50 dark:bg-gray-950">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="fill-stone-100 dark:fill-gray-900"></path>
    </svg>
  </div>
</Layout>
