---
import { Icon } from "astro-icon/components"
import TransparentDivider from "../components/reusable/TransparentDivider.svelte"
---

<!-- <div class="wave-divider bg-zinc-200 dark:bg-gray-900">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path
      d="M0,60 C150,80 250,50 400,70 C550,90 650,40 800,60 C950,80 1050,40 1200,60 L1200,0 L0,0 Z"
      class="fill-slate-50 dark:fill-gray-950"></path>
  </svg>
</div> -->
<TransparentDivider />

<div
  class="grid grid-cols-1 grid-rows-[1fr_2fr_1fr] gap-8 px-4 py-8 pb-16 md:grid-cols-[1fr_2fr_1fr] md:grid-rows-1 md:px-32"
>
  <div class="prose dark:prose-invert">
    <h3>Harsh Narayan Jha</h3>
    <p class="prose-sm leading-5">Let's create something amazing together</p>
    <div class="flex flex-row gap-2">
      <a
        href="https://github.com/HarshNarayanJha"
        target="_blank"
        class="cursor-newtab text-gray-800/50 dark:text-gray-300/50"
      >
        <Icon name="logos/github" size={20} />
      </a>
      <a href="#" class="cursor-newtab text-gray-800/50 dark:text-gray-300/50">
        <Icon name="logos/linkedin" size={20} />
      </a>
      <a href="#" class="cursor-newtab text-gray-800/50 dark:text-gray-300/50">
        <Icon name="logos/linkedin" size={20} />
      </a>
      <a href="#" class="cursor-newtab text-gray-800/50 dark:text-gray-300/50">
        <Icon name="logos/linkedin" size={20} />
      </a>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-4 text-sm">
    <ul class="space-y-2">
      <li class="mb-2 text-gray-700/50 dark:text-gray-200/50">Main Stuff</li>
      <li>
        <a href="/"> Home </a>
      </li>
      <li>
        <a href="/blog"> Blog </a>
      </li>
      <li>Projects</li>
      <li>Snippets</li>
      <li>
        <a href="/about"> About </a>
      </li>
    </ul>
    <ul class="space-y-2">
      <li class="mb-2 text-gray-700/50 dark:text-gray-200/50">My Accounts</li>
      <li>
        <a href="https://codestats.net/users/harshnj" target="_blank" class="cursor-newtab"> Code::Stats </a>
      </li>
      <li>
        <a href="https://codestats.net/user/harshnj" target="_blank" class="cursor-newtab"> TryHackMe </a>
      </li>
    </ul>
    <ul class="space-y-2">
      <li>Notes</li>
      <li>RSS</li>
    </ul>
  </div>
  <div class="prose dark:prose-invert">
    <h4>Subscribe to my newsletter</h4>
    <p class="prose-sm prose-gray leading-5">Whenever I post something, no spam!</p>
    <button> Subscribe Now </button>
  </div>
</div>

<TransparentDivider widthClass="md:w-1/2 mx-auto" />

<div class="flex items-center justify-center py-8 md:py-4">
  <p class="prose dark:prose-invert prose-zinc/50 prose-sm text-center">
    Copyright &copy; 2025 Harsh Narayan Jha. All rights reserved.
    <br />
    <span class="text-xs md:text-sm"> Built with Astro &nbsp; 🚀 </span>
  </p>
</div>
