---
interface Props {
  bg: string
  class: string
}

const { bg = "", class: className, ...rest } = Astro.props
---

<div class:list={["rounded-lg border border-slate-900/15 p-2 dark:border-zinc-400/15", className]} {...rest}>
  <div
    class:list={[
      "flex h-full flex-col items-start justify-start gap-4 rounded-lg border-2 border-neutral-300/50 px-8 py-8 shadow-sm transition-shadow duration-75 hover:shadow-md sm:gap-8 md:px-6 dark:border-zinc-800/50",
      bg || "bg-white dark:bg-gray-900",
    ]}
  >
    <div id="leading-image" class="mx-auto flex h-full flex-1 flex-col place-content-center">
      <slot name="image" />
    </div>
    <div id="text-content" class="mt-2 w-full sm:mt-4">
      <slot name="title" />
      <slot name="text" />
    </div>

    <div class="w-full">
      <slot name="button" />
    </div>
  </div>
</div>
