---
const { bg = "" } = Astro.props
---

<div class="rounded-lg border border-slate-900/15 p-2 dark:border-zinc-400/15">
  <div
    class:list={[
      "flex h-full flex-col items-start justify-start gap-4 rounded-lg border-2 border-slate-300/50 p-8 shadow md:flex-row md:gap-8 md:p-4 dark:border-zinc-800/50",
      bg || "bg-white dark:bg-gray-900",
    ]}
  >
    <div id="leading-image" class="self-center">
      <slot name="image" />
    </div>
    <div id="text-content" class="mt-2 w-full sm:mt-4">
      <slot name="title" />
      <slot name="text" />
    </div>
  </div>
</div>
